html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	width: 100%;
	margin: 0 auto;
	background:	#D9FFFF;
}
.header{
	height: 55px;
	background: red;
	opacity:0.7;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 8px 0 #b3b3b3;
}
.header li{
	margin-left: 40px;
	list-style-type: none;
	display: inline-block;
}
.header a{
	color: black;
}
.header h1{
	position: absolute;
	bottom: -8px;
	left: 105px;
	font-size: 22px;
	font-family: 微軟正黑體;
	color: white;
	font-weight: bold;
}
.header img{
	height: 50px;
}
.classify{
	float: right;
	width: 250px;
	//margin-top: 18px;
}
.classify li{
	float: left;
	font-family: 微軟正黑體;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 25px;
	padding-top: 18px;
	padding-bottom: 20px;
}
.classify a{
	color: white;
}
.classify li:hover{
	background: white;
	opacity: 0.98;
	transition:all 0.3s ease;
}
.classify a:hover{
	color: red;
}
.space{
	height: 80px;
}
.content{
	width: 80%;
	margin-left: 20%;
}
.m_title{
	height: 38px;
	padding-top: 2px;
	margin-bottom: 10px;
}
.m_title a{
	font-family: 微軟正黑體;
	font-size: 16px;
	border-bottom: 5px solid #9b9188;
	padding-top: 8px;
}
.m_item li:hover{
	background: #FFDDAA;
}
.m_item li{
	//background: white;
	height: 220px;
	width: 170px;
	float: left;
	list-style-type: none;
	margin-top: 10px;
	margin-right: 35px;
	margin-left: 35px;
	text-align: center;
	//padding: 10px;
	//border-radius: 10px;
	box-shadow: 0 0 3px 0 #b3b3b3;
	//padding-left: 5px;
}
.m_item img{
	width: 170px;
	height: 160px;
	//margin-top: 5px;
	margin-bottom: 15px;
	//border-radius: 5px;
}
.product_unit{
	font-family: 微軟正黑體;
	font-size: 12px;
}
.product_name{
	font-family: 微軟正黑體;
	font-size: 14px;
}
.product_price{
	font-family: 微軟正黑體;
	font-size: 12px;
}
.footer{
	margin-top: 40px;
	background: black;
	opacity: 0.78;
	height: 100px;
	text-align: center;
	font-family: 微軟正黑體;
	font-size: 14px;
	color: grey;
}
.footer p{
	padding-top: 42px;
	padding-bottom: 42px;
}
.clear{
	clear: both;
}